[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
pooler = "DmEwwQX5n6mt2Hgv923xmVLDQpWWcvYmTcm3yJbZ5xRr"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "keys/main-authority/main-authority.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
